<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Wakeup Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="static/pico.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>

<body>
    <main class="container">
        <h1>Wakeup Service</h1>

        <article>
            <h2>Ping</h2>
            <label for="ip">Enter the PC's IP address to ping it.</label>
            <div class="grid">
                <div>
                    <input type="text" name="ip_address" id="ip_address" value="{{ ip_address }}"
                        placeholder="192.168.0.1">
                </div>
                <div>
                    <button type="button" id="ping_button" onclick="pingMachine()">Ping!</button>
                </div>
            </div>
            <table class="align-right-2rd-column">
                <tbody>
                    <tr>
                        <td>Last ping</td>
                        <td><mark id="ping_result">not pinged</mark></td>
                    </tr>
                    <tr>
                        <td>Last successful ping</td>
                        <td><mark id="last_successful_ping_time"></mark></td>
                    </tr>
                </tbody>
            </table>
        </article>

        <article>
            <h2>Wake on LAN</h2>
            <label for="mac">Enter the PC's MAC address to wake it up.</label>
            <div class="grid">
                <div>
                    <input type="text" name="mac_address" id="mac_address" value="{{ mac_address }}"
                        placeholder="00:00:00:00:00:00">
                </div>
                <div>
                    <button type="button" id="wol_button" onclick="wakeMachine()">Wake up!</button>
                </div>
            </div>
        </article>
    </main>
    <script src="static/moment.min.js"></script>
    <script>
        let lastSuccessfulPingTime = JSON.parse('{{ last_successful_ping_time | tojson }}');

        async function pingMachine() {
            const ip_address = document.querySelector('#ip_address').value;
            const ping_button = document.querySelector('#ping_button');

            // Disable the ping button while the request is being processed
            // set it as loading by displaying the loading text "Pinging..." and setting aria-busy to true
            ping_button.setAttribute('aria-busy', 'true');
            ping_button.textContent = 'Pinging...';

            const response = await fetch('/ping', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ ip_address: ip_address })
            });

            if (response.ok) {
                const data = await response.json();
                const pingResult = document.querySelector('#ping_result');
                pingResult.textContent = data.ping_successful ? 'successful' : 'failed';
                const lastSuccessfulPingTimeNode = document.querySelector('#last_successful_ping_time');
                lastSuccessfulPingTime = data.last_successful_ping_time;
                updateLastSuccessfulPingTime();
            } else {
                console.error('Error pinging machine:', response.statusText);
            }

            // Re-enable the ping button
            ping_button.setAttribute('aria-busy', 'false');
            ping_button.textContent = 'Ping!';
        }

        async function wakeMachine() {
            const mac_address = document.querySelector('#mac_address').value;
            const wol_button = document.querySelector('#wol_button');

            // Disable the wake button while the request is being processed
            // set it as loading by displaying the loading text "Waking up..." and setting aria-busy to true
            wol_button.setAttribute('aria-busy', 'true');
            wol_button.textContent = 'Waking up...';

            const response = await fetch('/wol', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ mac_address: mac_address })
            });

            if (response.ok) {
                const data = await response.json();
            } else {
                console.error('Error waking up machine:', response.statusText);
            }

            // Re-enable the wake button
            wol_button.setAttribute('aria-busy', 'false');
            wol_button.textContent = 'Wake up!';
        }

        function updateLastSuccessfulPingTime() {
            const lastSuccessfulPingTimeNode = document.querySelector('#last_successful_ping_time');
            if (lastSuccessfulPingTime) {
                t = moment.unix(lastSuccessfulPingTime)
                lastSuccessfulPingTimeNode.textContent = `${t.fromNow()} (${t.format('YYYY-MM-DD HH:mm:ss')})`;
            } else {
                lastSuccessfulPingTimeNode.textContent = 'Never';
            }
        }

        // Initial update of the last successful ping time
        updateLastSuccessfulPingTime();

        // Update the last successful ping time every 10 seconds
        setInterval(updateLastSuccessfulPingTime, 10000);
    </script>
</body>

</html>

