<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Wakeup Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="static/pico.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>

<body>
    <main class="container">
        <h1>Wakeup Service</h1>

        <article>
            <h2>Ping</h2>

            <form action="/ping" method="post">
                <label for="ip">Enter the PC's IP address to ping it.</label>
                <div class="grid">
                    <div>
                        <input type="text" name="ip_address" id="ip_address" value="{{ ip_address }}"
                            aria-invalid="{% if ip_address_invalid %}true{% else %}false{% endif %}"
                            placeholder="192.168.0.1">
                    </div>
                    <div>
                        <input type="submit" value="Ping!">
                    </div>
                </div>
            </form>
            <table class="align-right-2rd-column">
                <tbody>
                    <tr>
                        <td>Last ping</td>
                        <td><mark>
                                {%- if ping_successful == True -%}
                                succesful
                                {%- elif ping_successful == False -%}
                                failed
                                {%- else -%}
                                not pinged
                                {%- endif -%}
                            </mark></td>
                    </tr>
                    <tr>
                        <td>Last successful ping</td>
                        <td><mark id="last_successful_ping_time" value="{{ last_successful_ping_time }}"></mark></td>
                    </tr>
                </tbody>
            </table>

        </article>

        <article>
            <h2>Wake on LAN</h2>

            <form action="/wol" method="post">
                <label for="mac">Enter the PC's MAC address to wake it up.</label>
                <div class="grid">
                    <div>
                        <input type="text" name="mac_address" id="mac_address" value="{{ mac_address }}"
                            aria-invalid="{% if mac_address_invalid %}true{% else %}false{% endif %}"
                            placeholder="00:00:00:00:00:00">
                    </div>

                    <div>
                        <input type="submit" value="Wake up!">
                    </div>
                </div>
            </form>
        </article>
    </main>
    <script src="static/moment.min.js"></script>
    <script>

        function updateLastSuccessfulPingTime() {
            const lastSuccessfulPingTime_node = document.querySelector('#last_successful_ping_time');
            const lastSuccessfulPingTime = lastSuccessfulPingTime_node.getAttribute('value');

            if (lastSuccessfulPingTime && lastSuccessfulPingTime !== 'None') {
                time = moment.unix(lastSuccessfulPingTime);
                lastSuccessfulPingTime_node.textContent = `${time.fromNow()} (${time.format('YYYY-MM-DD HH:mm:ss')})`;
            } else {
                lastSuccessfulPingTime_node.textContent = 'Never';
            }
        }

        // update the last successful ping time on page load
        updateLastSuccessfulPingTime();

        // setup a timer to update the last successful ping time every 15 seconds
        setInterval(updateLastSuccessfulPingTime, 15000);
    </script>
</body>

</html>
